:root {
    --action-color: rgb(84 120 177);
    --primary-color: rgb(56 100 169);
    --white-color: rgb(255, 255, 255);
    --gray-shade-one: rgb(38, 38, 38);
    --gray-shade-two: rgb(84, 84, 84);
    --danger-color: rgba(245, 45, 45);
}